<div class="container">
  <div class="grid grid--3-cols grid-margin-bottom">
      <% @trees.each do |tree| %>
        <%= link_to tree_path(tree) do %>
          <div class="card-tree">
            <h4><%= tree.name %></h4>
            <p class= "price"><%= tree.price %>€ / par an</p>
          </div>
        <% end %>
      <% end %>
    </ul>
  </div>

  <%= link_to "Add a tree", new_tree_path %>
</div>
