.card-tree {
  position: relative;
  background-color: white;
  color: black;
  height: 100px;
  margin: 8px;
  padding: 8px 12px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  transition: all 0.5s;

  &:hover {
    transform: scale(1.01);
  }

  .price {
    position: absolute;
    right: 10px;
    bottom: 0px;
  }
}

.card-adoption {
  width: 200px;
  padding: 8px 12px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  text-align: center;
}
